.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  left: 0;
  right: 0;
  top: 25px;
  color: black;
}

.App-link {
  color: #61dafb;
}

.border-top {
  position: absolute;
  width: 100%;
  background-color: red;
  color: black;
}

.border-bottom {
  position: fixed;
  width: 100%;
  bottom: 0px;
  color: black;
}

.navbar {
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
